@use 'styles/fonts';
@use 'styles/colors';

@import 'styles/media';

// ! CURRENTLY NOT USED

.default {
  margin: 0;
  font-family: fonts.$noto-sans;
}

.onClick {
  cursor: pointer;
}

.h1 {
  font-size: 22px;
  font-family: fonts.$raleway;
  font-weight: 700;
  color: colors.$black;
  @include media_md {
    font-size: 24px;
  }
}

.h2 {
  font-size: 16px;
  font-family: fonts.$raleway;
  font-weight: 600;
  color: colors.$black;
  @include media_md {
    font-size: 18px;
  }
}

.h3 {
  font-size: 16px;
  font-family: fonts.$raleway;
  font-weight: 600;
  color: colors.$black;
  @include media_md {
    font-size: 18px;
  }
}

.h4 {
  font-size: 14px;
  font-family: fonts.$raleway;
  font-weight: 500;
  color: colors.$black;
  @include media_md {
    font-size: 16px;
  }
}

.text {
  font-size: 12px;
  font-family: fonts.$noto_sans;
  font-weight: 500;
  color: colors.$black;
  @include media_md {
    font-size: 14px;
  }
}

.subtext {
  font-size: 12px;
  font-family: fonts.$noto_sans;
  font-weight: 400;
  color: colors.$black;
  @include media_md {
    font-size: 14px;
  }
}

.subsubtext {
  font-size: 10px;
  font-family: fonts.$noto_sans;
  font-weight: 500;
  color: colors.$black;
  @include media_md {
    font-size: 12px;
  }
}
